body{

    background-color: rgba(12, 15, 22, .8);
    background-image: url("Images/BackMain1.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding: 0;
    margin: 0;
}   


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


#NavigationBar{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 70%;
    margin-top: 2%;
    margin-right: 10%;
}



.Logo{
    position: fixed;
    background-color: rgb(21, 28, 41);
    color: white;
    font-size: 13px; 
    font-weight: bold;
    font-family: sans-serif;
    font-variant: small-caps;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px;
    display: inline;
    margin-top: 16px;
    margin-left: 110px;
    transition: .5s;
    border: 1px solid rgb(21, 28, 41);
}   


.Item{
    color: rgba(255,255,255,1);
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    transition: ease .3s;
	background: linear-gradient(white, white) bottom / 0 .15em no-repeat;
    background-position: left bottom;
    letter-spacing: 1px;
    padding-bottom: 3px;
}




.Item:hover {
    color: rgba(255,255,255,1);
	background-size: 100% .15em;
    font-size: 16px;
    transition: ease .3s;
}



p{
    color:white;
}



.background{
    position: fixed;
    width: 100%;
    padding: 50px;
    background-color: rgb(21, 28, 41);
    margin-top: -2%;
    border-bottom: 1px solid white;
    transition: 0.3s;
    margin-left: -10px;
}


.TitleClass{
    font-variant: small-caps;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 35px;
    position: absolute;
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    z-index: -1;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
}

.ExploreButton{
    
    font-family: sans-serif;
    color: white;
    background-color: rgb(21, 28, 41);
    position: absolute;
    margin-top: 35%;
    font-size: 15px;
    border-radius: 4px;
    padding: 15px;
    margin-left: 45%;
    margin-right: 50%;
    border: none;
    transition: ease .5s;
    letter-spacing: 1px;
}

.ExploreButton:hover{
    background-color: rgb(35, 47, 70);
    transition: ease .5s;
    transform: scale(1.05);
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}
.ExploreButton:active{
    
    transform: scale(.95);
    
}

.LogoImage{
    position: fixed;
    z-index: 120;
    top: 22px;
    left: 110px;
}

.LogoLink{
    cursor: default;
    pointer-events: none;
}


#Footer{
    position: absolute;
    width: 100%;
    background-color: rgb(21, 28, 41);
    height: 100px;
    top: 700px;
    border-top: 1px solid white;
}

@media all and (max-width: 1070px) {
    
    .TitleClass{
        font-size: 25px;
        margin-top: 30%;
    }


    .ExploreButton{
        margin-top: 45%;
        padding: 10px;
        font-size: 10px;

    }

    .ExploreButton:hover{
        background-color: rgb(35, 47, 70);
        transition: ease .5s;
        padding: 15px;
        text-shadow: 2px 2px 4px #000000;
    }

    .background{
        padding: -50px;
    }

    .Logo{ 
        padding: 13px;
    }

   


}

@media all and (max-width: 700px) {
    
    .TitleClass{
        margin-top: 35%;
        font-size: 20px;

    }

    .ExploreButton{
        margin-top: 55%;
        padding: 10px;
        font-size: 10px;

    }

    .ExploreButton:hover{
        background-color: rgb(35, 47, 70);
        transition: ease .5s;
        padding: 15px;
        text-shadow: 2px 2px 4px #000000;
    }

    .LogoImage{
        position: fixed;
        top: 17px;
        left: 110px;
        content: url(Images/LogoV4Resized.png);
        
    }
 

    .background{
        padding: 30px;
    }
    
    .Logo{
        font-size: 10px; 
        padding: 6px;
        margin-top: 13px;
    }

    #NavigationBar{
        margin-left: 55%;
        margin-top: 3%;
    }

    

    .Item{ 
        font-size: 10px; 
        margin-top: -1px;   
    }

    .Item:hover {
        color: rgba(255,255,255,1);
        background-size: 100% .15em;
        font-size: 10px;
        transition: ease .3s;
    }

}

